@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
input,
button {
  outline: none;
}

.container {
  display: flex;
  width: 90%;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  position: relative;
}

.container .title {
  text-align: center;
  margin-top: 50px;
}

.admin {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: #27c7ff;
  color: #fff;
  border-radius: 16px;
  position: absolute;
  top: 50px;
  right: 10px;
}
.fim {
  font-size: 16px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: #10c519;
  color: #fff;
  border-radius: 16px;
  position: absolute;
  top: 50px;
  left: 10px;
  cursor: pointer;
}
.cards {
  margin-top: 50px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 31.3%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: -1px 2px 16px -6px rgba(0, 0, 0, 0.75);
  border-radius: 16px;
  margin: 10px;
  position: relative;
}

.itemZerado{
  position: absolute;
  top:  0;
  right:  0;
  bottom:  0;
  left:  0;
  background-color: rgba(56, 56, 56, 0.781);
  z-index: 1;
  border-radius: 16px;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.card img {
  width: 100px;
  margin-left: 5px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info div {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.compra {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.compra .car {
  border: none;
  background: #fff;
  border-radius: 3px;
  margin: auto;
  width: 50px;
  height: 20px;
  cursor: pointer;
}
.compra .car img {
  width: 20px;
}

.compra .divCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.compra .add {
  margin-top: 5px;
}

.btnAdd {
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: #27ff32;
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
}
.btnCancel{
  width: 80px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  background-color: #ff2727;
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 5px;
}

.fecharConta {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  top: 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.26);
}

.nota {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 40%;
  border-radius: 10px;
}

.tb{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.th, .td{
  display: flex;
  justify-content: space-between;
}
.th{
  border-top:  1.4px rgb(151, 148, 148) dashed;
  border-bottom:  1.4px rgb(151, 148, 148) dashed;

}

.th span{
  padding:5px 20px 5px 5px ;
  border-right:  1.4px rgb(151, 148, 148) dashed;
}

.th span:last-child{
  border-right: none;
}
.td{
  margin-top: 10px;
}

.td span{
  padding-right: 80px;
  width: 20px;
}

.total {
  margin-top: 10px;
  padding: 5px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border-top: 1.4px rgb(151, 148, 148) dashed;
  border-bottom:  1.4px rgb(151, 148, 148) dashed;

}

.infoTotal{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.infoTotal div{
  padding-right: 10px;
}

.total span:last-child {
  margin-right: 0;
}

.btns{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.btn{
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 16px;
  cursor: pointer;
}

.btnCancelar {
  background-color: red;
  color: #fff;
  box-shadow: 4px 5px 22px -6px rgb(255, 0, 0);
}

.btnPagar {
  background-color: rgb(0, 207, 0);
  color: #fff;
  box-shadow: 4px 5px 22px -6px rgb(0, 255, 42);
}

@media(max-width: 740px){
  .admin, .fim{
    top: 110px;
    font-size: 14px;
  }
  .cards{
    flex-direction: column;
    margin-top: 80px;
  }
  .card{
    width: 90%;
    font-size: 0.8rem;
  }
  .card img {
    width: 70px;
    margin-left: 0;
  }
  .inputAdd{
    width: 70%;
  }
  .nota{
    width: 90%;
    font-size: .8rem;
  }
  .td span {
    padding-right: 40px;
    width: 10px;
  }

}