<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Administrador</title>
</head>

<body>
  <div class="container">
    <h1 class="title">Administrar Itens</h1>
    <a href="../../index.html" class="voltar"> Home</a>
    <a href="../novo/index.html" class="criar"> Novo Item</a>
    <div id="itens" class="itens">

    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>