<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Administrador</title>
</head>

<body>
  <div class="container">
    <h1 class="title">Administrar Itens</h1>
    <a href="../../index.html" class="voltar"> Home</a>
    <button onclick="showPopup()" class="criar"> Novo Item</button>
    <div id="itens" class="itens">

    </div>
  </div>

  <div class="popUp">
    <div class="containerPopUp">
      <div class="campos">
        <h1 class="title">Novo Item</h1>
        <div class="nome">
          <label for="nome">Nome:</label>
          <input id="nome" type="text" placeholder="nome" required>
        </div>

        <div class="valor">
          <label for="valor">Valor unitário R$:</label>
          <input id="valor" type="text" placeholder="R$" required>
        </div>
        <div class="qtd">
          <label for="qtd">Quantidade estoque:</label>
          <input id="qtd" type="number" placeholder="quantidade" required>
        </div>
        <div class="url">
          <label for="nome">Url da imagem:</label>
          <input id="url" type="text" placeholder="url imagem">
        </div>
        <div class="bts">
          <button onclick="showPopup()" class="btnCancelar">Cancelar</button>
          <button onclick="novoItem()" type="submit" class="btnSalvar">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>

</html>